<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="MsAccess" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\Linar\\Documents\\Visual Studio 2015\\Projects\\Library App\\Library App\\bin\\Debug\\Library.accdb" />
    <add name="MsAccessPassword" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\Linar\\Documents\\Visual Studio 2015\\Projects\\Library App\\Library App\\bin\\Debug\\PasswordedLibrary.accdb;Jet OLEDB:Database Password=hhdT2b5z4MRQFnp;" />
    <add name="MDBPassword" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\Users\\Linar\\Documents\\Visual Studio 2015\\Projects\\Library App\\Library App\\bin\\Debug\\Library.mdb;Jet OLEDB:Database Password=kojpoalEjfohav8;" />
    <add name="MySql" connectionString="Server=localhost; Uid=root; Pwd=; Database=LibraryDb;SslMode=none" />
    <add name="MsSQLServerExpress" connectionString="Data Source=LINAR-PC\SQLEXPRESS;Initial Catalog=LibraryDb;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Application Name=Library With Multiple DB" />
    <add name="Library_App.Properties.Settings.LibraryDbConnectionString"
      connectionString="Data Source=LINAR-PC\SQLEXPRESS;Initial Catalog=LibraryDb;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
